* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Stick No Bills', sans-serif;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:0px;
    margin-right:10px;
  }
  
  /* Header/logo Title */
  .header {
    padding: 30px;
    text-align: center;
    background-color : rgba(55, 113, 180,0.6);
    color: white;
    
    
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(29, 156, 115);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;

  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
      color:black;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  

  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    color:black;
    width: 25%;

  }
  .container {
    width: 100%;
    background-color:rgb(255,255,255);
    color:white;
  }
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
.C {width: 80%; background-color: #04AA6D;}
.Cplus {width: 80%; background-color: #2196F3;}
.Java {width: 65%; background-color: #f44336;}
.Python {width: 60%; background-color: #808080;}
  
  /* Kolom tengah*/
  .main {   
    -ms-flex: 80%;
    flex: 80%;
    background-color: white;
    padding: 20px;
  }
  
  a{
    color:black;
}
 .form_pesan
 {
   padding:10px;
   text-align: center;
   background-color: #87AAD2;
 }

  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding:20px;
 }
 input [type = text]
 {
  background-color:rgb(29, 156, 115);
  border: none;
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  margin: 4px 2px;
 }
  input[type=email]{
    background-color:rgb(29, 156, 115);
    border: none;
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    margin: 4px 2px;

}
textarea
{
  background-color:rgb(29, 156, 115);
    border: none;
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    margin: 4px 2px;
}
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(29, 156, 115);
  }
  input[type=submit]{
    background-color: green;
    border: none;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  